li{
font-family: Times;
font-size: 15px;
color: #990099
}

*{
background-color: black}

h1 {
 	font-size:32px;
 	color:#006600;
 	background-color:##00FFFF;
 	}

body {
 	font-family: Times, Arial, sans-serif;
 	background-color:#000000;
 	color:#800000;
 	}

head{
font-family: Times;
background-color: #000000;
color: #800000;}